<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".manage_user_account.App"
        android:allowBackup="true"
        android:icon="@mipmap/healthbuddy"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/healthbuddy_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".manage_patient_account.prescriptions.PatientPrescriptionActivity"
            android:exported="false" />
        <activity
            android:name=".manage_patient_account.analysis.PatientAnalysisActivity"
            android:exported="false" />
        <activity
            android:name=".manage_patient_account.appointments.PatientAppointmentsActivity"
            android:exported="false" />
        <activity
            android:name=".diet.DietActivity"
            android:exported="false" />
        <activity
            android:name=".donations.MyDonationsActivity"
            android:exported="false" />
        <activity
            android:name=".donations.RequestDonationActivity"
            android:exported="false" />
        <activity
            android:name=".donations.SelectProposalActivity"
            android:exported="false" />
        <activity
            android:name=".donations.ProposeDonationActivity"
            android:exported="false" />
        <activity
            android:name=".appointments.analysis_appointments.AnalysisAppointmentActivity"
            android:exported="false" />
        <activity
            android:name=".appointments.MyAppointmentsActivity"
            android:exported="false" />
        <activity
            android:name=".appointments.doctor_appointments.DoctorAppointmentActivity"
            android:exported="false" />

        <meta-data
            android:name="osmdroid.basePath"
            android:value="/mnt/sdcard/osmdroid" />
        <meta-data
            android:name="osmdroid.tileProvider"
            android:value="GEO" />
        <meta-data
            android:name="osmdroid.mapsforge.file"
            android:value="map_file_name.map" />
        <meta-data
            android:name="osmdroid.mapsforge.useMapView"
            android:value="false" />

        <activity
            android:name=".manage_prescriptions.AddPresMedDetails"
            android:exported="false" />
        <activity
            android:name=".manage_prescriptions.SummaryListActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAd-VjF4BpkSGc-xK8RRj0yncnGosP-62g" />

        <activity
            android:name=".localisation.LocatePharmaciesActivity"
            android:exported="false" />
        <activity
            android:name=".localisation.LocateDoctorsActivity"
            android:exported="false" />
        <activity
            android:name=".manage_analyses.UpdateAnalysisActivity"
            android:exported="false" />
        <activity
            android:name=".manage_analyses.DeleteAnalysisActivity"
            android:exported="false" />
        <activity
            android:name=".manage_analyses.AddAnalysisActivity"
            android:exported="false" />
        <activity
            android:name=".manage_analyses.MyAnalysesActivity"
            android:exported="false" />
        <activity
            android:name=".manage_prescriptions.SelectMedicineActivity"
            android:exported="false" />
        <activity
            android:name=".manage_medicine.UpdateMedicineActivity"
            android:exported="false" />
        <activity
            android:name=".manage_prescriptions.AddPrescriptionActivity"
            android:exported="false" />
        <activity
            android:name=".manage_prescriptions.MyPrescriptionsActivity"
            android:exported="false" />
        <activity
            android:name=".manage_patient_account.UpdatePatient2Activity"
            android:exported="false" />
        <activity
            android:name=".manage_patient_account.UpdatePatient1Activity"
            android:exported="false" />
        <activity
            android:name=".manage_medicine.InventoryActivity"
            android:exported="false" />
        <activity
            android:name=".manage_medicine.AddMedicineActivity"
            android:exported="false" />
        <activity
            android:name=".manage_medicine.BarcodeActivity"
            android:exported="false" />
        <activity
            android:name=".manage_patient_account.Patient2Activity"
            android:exported="false" />
        <activity
            android:name=".manage_patient_account.Patient1Activity"
            android:exported="false" />
        <activity
            android:name=".manage_patient_account.MyPatientsActivity"
            android:exported="false" />
        <activity
            android:name=".manage_patient_account.AddPatientActivity"
            android:exported="false" />
        <activity
            android:name=".manage_user_account.UpdateInfoActivity"
            android:exported="false" />
        <activity
            android:name=".manage_user_account.ManageAccountActivity"
            android:exported="false" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="true" />

        <activity
            android:name=".HomepageActivity"
            android:exported="true" />
        <activity
            android:name=".manage_user_account.SignupActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".manage_user_account.ForgetActivity"
            android:exported="true" />
        <activity
            android:name=".manage_user_account.LoginActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.parse.SERVER_URL"
            android:value="@string/back4app_server_url" />

        <!--Meta data for your file for application id-->
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="@string/back4app_app_id" />

        <!--Meta data for your file for client key-->
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="@string/back4app_client_key" />
        <receiver android:name=".AlarmReceiver"/>
    </application>

</manifest>